<div style="text-align: center; line-height: 0; padding-top: 2px;">
  <img src="https://www.quantiaconsulting.com/logos/quantia_logo_orizz.png" alt="Quantia Consulting" style="width: 600px; height: 250px">
</div>

# Retrieving Weather Data

## OpenWeatherMap API

* It is possible to retrieve the current weather for any location, specified by its name or its geographical coordinates (latitute and longitude): the results are sent in JSON format.
* The API gives the **forecasting** for each location.
* Historical data can be queried, too.
* Python API Wrapper: _PyOWM_ (https://pyowm.readthedocs.io/en/latest/index.html)

## Instructions

1. Generate an API key from OpenWeatherMap (https://openweathermap.org/appid)
1. Interact with the API:
 `Extract the weather of a specific location and show the forecasting for the next week.`

In [10]:
import json
from pyowm import OWM
import pandas as pd

## Weather API Exercise

Insert API key to get access to the API.

In [2]:
credentials = json.load(open('credentials.json'))['weather']
api_key = credentials['APIKey']

In [3]:
owm = OWM(api_key)

### a) Obtain current weather for 8 cities around the world
_Berlin, Chicago, San Francisco, Mumbai, Seoul, Nairobi, London, Mexico City_

In [4]:
cities = ['Berlin', 'Chicago', 'San Francisco', 'Mumbai', 'Seoul', 'Nairobi', 'London', 'Mexico City']
countries = ['DE', 'US', 'US', 'IN', 'KR', 'KE', 'GB', 'MX']

Use registry to get location ID.

In [5]:
reg = owm.city_id_registry()

Store results in an object for further processing.

In [6]:
places = {}
i = 0
for city in cities:
    for loc in reg.locations_for(city, country=countries[i]):
        
        place_id = loc.get_ID()
        
        l = {}
        l['name'] = loc.get_name()
        l['lat'] = loc.get_lat()
        l['long'] = loc.get_lon()
        
        places[place_id] = l
    
    i += 1

In [8]:
for id_loc in places:
    print (id_loc, places[id_loc])

(3530597, {'lat': 19.428471, 'name': u'Mexico City', 'long': -99.127663})
(4887398, {'lat': 41.850029, 'name': u'Chicago', 'long': -87.650047})
(1835848, {'lat': 37.56826, 'name': u'Seoul', 'long': 126.977829})
(184745, {'lat': -1.28333, 'name': u'Nairobi', 'long': 36.816669})
(1275339, {'lat': 19.01441, 'name': u'Mumbai', 'long': 72.847939})
(2950158, {'lat': 54.033329, 'name': u'Berlin', 'long': 10.45})
(2950159, {'lat': 52.524368, 'name': u'Berlin', 'long': 13.41053})
(5391959, {'lat': 37.774929, 'name': u'San Francisco', 'long': -122.419418})
(2643743, {'lat': 51.50853, 'name': u'London', 'long': -0.12574})

### b) Obtain weather in the _surroundings_ of each city
Limit the surroundings to a maximum of 10 other cities and store results in tabular format.

In [11]:
header = ['id_location', 'name_loc', 'name_surrounding', 'lat', 'long','temperature','status','humidity','clouds', 'rain','timestamp']

In [31]:
results = pd.DataFrame(columns=header)
for id_loc in places:
    place = places[id_loc]
    surrounding_obs = owm.weather_around_coords(place['lat'], place['long'], limit=10)
    
    for obs in surrounding_obs:
        loc = obs.get_location()
        w = obs.get_weather()
        
        if len(w.get_rain().values()) > 0:
            rain = list(w.get_rain().values())[0]
        else:
            rain = 0
            
        results = results.append({'id_location': id_loc,
                                  'name_loc': place['name'],
                                  'name_surrounding': loc.get_name(),
                                  'lat': loc.get_lat(),
                                  'long': loc.get_lon(),
                                  'temperature': w.get_temperature(unit='celsius')['temp'],
                                  'status': w.get_status(),
                                  'humidity': w.get_humidity(),
                                  'clouds': w.get_clouds(),
                                  'rain': rain,
                                 'timestamp': w.get_reference_time(timeformat='iso')}, ignore_index=True)

In [32]:
results

,id_location,name_loc,name_surrounding,lat,long,temperature,status,humidity,clouds,rain,timestamp
0,3530597,Mexico City,Mexico City,19.4285,-99.1277,9.10,Clear,54,5,0,2019-02-07 08:48:00+00
1,3530597,Mexico City,Cuauhtemoc,19.4172,-99.1570,10.17,Clear,70,5,0,2019-02-07 09:46:00+00
2,3530597,Mexico City,Venustiano Carranza,19.4300,-99.0992,9.02,Clear,54,5,0,2019-02-07 08:48:00+00
3,3530597,Mexico City,Viaducto Piedad,19.4000,-99.1334,10.13,Clear,70,5,0,2019-02-07 09:46:00+00
4,3530597,Mexico City,Colonia Roma,19.4182,-99.1631,10.17,Clear,70,5,0,2019-02-07 09:46:00+00
5,3530597,Mexico City,Portales,19.4000,-99.1501,10.17,Clear,70,5,0,2019-02-07 09:46:00+00
6,3530597,Mexico City,San Pedro,19.4000,-99.1000,9.05,Clear,54,5,0,2019-02-07 08:48:00+00
7,3530597,Mexico City,Colonia Nativitas,19.3812,-99.1369,10.17,Clear,70,5,0,2019-02-07 09:46:00+00
8,3530597,Mexico City,El Gas,19.4667,-99.1667,10.19,Clear,70,5,0,2019-02-07 09:46:00+00
9,3530597,Mexico City,Colonia del Valle,19.3861,-99.1621,10.20,Clear,70,5,0,2019-02-07 09:46:00+00
10,4887398,Chicago,Chicago,41.8500,-87.6501,1.10,Rain,100,90,2.48,2019-02-07 09:55:00+00
11,4887398,Chicago,Cicero,41.8456,-87.7540,1.10,Rain,88,90,2.48,2019-02-07 09:55:00+00
12,4887398,Chicago,Stickney,41.8214,-87.7829,1.10,Rain,100,90,2.49,2019-02-07 09:55:00+00
13,4887398,Chicago,Oak Park,41.8850,-87.7845,1.10,Rain,100,90,2.48,2019-02-07 09:55:00+00
14,4887398,Chicago,Berwyn,41.8506,-87.7937,1.11,Rain,100,90,2.88,2019-02-07 09:55:00+00
15,4887398,Chicago,Clearing,41.7781,-87.7618,1.15,Rain,100,90,2.79,2019-02-07 09:55:00+00
16,4887398,Chicago,Forest Park,41.8795,-87.8137,1.10,Rain,100,90,2.48,2019-02-07 09:55:00+00
17,4887398,Chicago,North Riverside,41.8428,-87.8232,1.10,Rain,100,90,2.49,2019-02-07 09:55:00+00
18,4887398,Chicago,Riverside,41.8350,-87.8229,1.10,Rain,100,90,2.49,2019-02-07 09:55:00+00
19,4887398,Chicago,Hometown,41.7345,-87.7315,1.15,Rain,100,90,2.49,2019-02-07 09:55:00+00
20,1835848,Seoul,Seoul,37.5683,126.9778,-3.52,Clear,27,1,0,2019-02-07 10:00:00+00
21,1835848,Seoul,Kwanghŭi-dong,37.5654,127.0029,-3.52,Clear,27,1,0,2019-02-07 10:00:00+00
22,1835848,Seoul,Seoul-teukbyeolsi,37.5833,127.0000,-3.52,Clear,27,1,0,2019-02-07 10:00:00+00
23,1835848,Seoul,Kŭmhosamga-dong,37.5501,127.0194,-3.53,Clear,27,1,0,2019-02-07 10:00:00+00
24,1835848,Seoul,Yongsan,37.5333,126.9667,-3.52,Clear,27,1,0,2019-02-07 10:00:00+00
25,1835848,Seoul,Chamsil,37.5167,127.0000,-3.53,Clear,27,1,0,2019-02-07 10:00:00+00
26,1835848,Seoul,Panpo’bon-dong,37.5063,126.9873,-3.53,Clear,27,1,0,2019-02-07 10:00:00+00
27,1835848,Seoul,Sinch’ŏn-dong,37.5167,127.0833,-3.53,Clear,27,1,0,2019-02-07 10:00:00+00
28,1835848,Seoul,Samjeon-dong,37.5017,127.0906,-3.53,Clear,27,1,0,2019-02-07 10:00:00+00
29,1835848,Seoul,P’ungnap-tong,37.5368,127.1185,-3.53,Clear,27,1,0,2019-02-07 10:00:00+00
...,...,...,...,...,...,...,...,...,...,...,...
60,2950159,Berlin,Berlin Mitte,52.5200,13.4049,2.98,Clear,55,0,0,2019-02-07 09:50:00+00
61,2950159,Berlin,Berlin,52.5244,13.4105,2.98,Clear,55,0,0,2019-02-07 09:50:00+00
62,2950159,Berlin,Alt-Kölln,52.5149,13.4029,2.99,Clear,55,0,0,2019-02-07 09:50:00+00
63,2950159,Berlin,Land Berlin,52.5000,13.4167,2.99,Clear,55,0,0,2019-02-07 09:50:00+00
64,2950159,Berlin,Tiergarten,52.5167,13.3667,2.98,Clear,55,0,0,2019-02-07 09:50:00+00
65,2950159,Berlin,Berlin Treptow,52.4938,13.4447,3.00,Clear,55,0,0,2019-02-07 09:50:00+00
66,2950159,Berlin,Hermannplatz,52.4866,13.4251,3.00,Clear,55,0,0,2019-02-07 09:50:00+00
67,2950159,Berlin,Kreuzberg,52.4833,13.3833,2.99,Clear,55,0,0,2019-02-07 09:50:00+00
68,2950159,Berlin,Berlin Tempelhof,52.4769,13.4103,3.00,Clear,55,0,0,2019-02-07 09:50:00+00
69,2950159,Berlin,Moabit,52.5263,13.3390,2.97,Clear,55,0,0,2019-02-07 09:50:00+00
70,5391959,San Francisco,San Francisco,37.7749,-122.4195,3.61,Clouds,72,20,0,2019-02-07 09:56:00+00
71,5391959,San Francisco,San Francisco County,37.7666,-122.4511,3.78,Clouds,72,20,0,2019-02-07 09:56:00+00
72,5391959,San Francisco,Daly City,37.7058,-122.4620,3.78,Clouds,72,20,0,2019-02-07 09:56:00+00
73,5391959,San Francisco,Brisbane,37.6808,-122.4000,3.78,Clouds,72,20,0,2019-02-07 09:56:00+00
74,5391959,San Francisco,Broadmoor,37.6866,-122.4828,3.78,Clouds,72,20,0,2019-02-07 09:56:00+00
75,5391959,San Francisco,Colma,37.6769,-122.4598,3.78,Clouds,72,20,0,2019-02-07 09:56:00+00
76,5391959,San Francisco,Sausalito,37.8591,-122.4853,3.59,Clouds,72,20,0,2019-02-07 09:56:00+00
77,5391959,San Francisco,Tiburon,37.8735,-122.4567,3.59,Clouds,72,20,0,2019-02-07 09:56:00+00
78,5391959,San Francisco,Belvedere,37.8727,-122.4645,3.59,Clouds,72,20,0,2019-02-07 09:56:00+00
79,5391959,San Francisco,South San Francisco,37.6547,-122.4078,3.78,Clouds,72,20,0,2019-02-07 09:56:00+00
80,2643743,London,London,51.5085,-0.1258,6.90,Rain,65,75,0,2019-02-07 09:50:00+00
81,2643743,London,City of Westminster,51.5000,-0.1167,6.63,Rain,65,75,0,2019-02-07 09:20:00+00
82,2643743,London,Lambeth,51.4963,-0.1116,6.90,Rain,65,75,0,2019-02-07 09:50:00+00
83,2643743,London,Clerkenwell,51.5244,-0.1103,6.63,Rain,65,75,0,2019-02-07 09:20:00+00
84,2643743,London,City of London,51.5128,-0.0919,6.99,Rain,65,75,0,2019-02-07 09:50:00+00
85,2643743,London,Barbican,51.5199,-0.0945,6.99,Rain,65,75,0,2019-02-07 09:50:00+00
86,2643743,London,Greater London,51.5000,-0.1667,6.90,Rain,65,75,0,2019-02-07 09:50:00+00
87,2643743,London,City of Westminster,51.5000,-0.1667,6.90,Rain,65,75,0,2019-02-07 09:50:00+00
88,2643743,London,City of London,51.5133,-0.0891,6.99,Rain,65,75,0,2019-02-07 09:50:00+00
89,2643743,London,Kennington,51.4880,-0.1057,6.63,Rain,65,75,0,2019-02-07 09:20:00+00

##### ![Quantia Tiny Logo](https://www.quantiaconsulting.com/logos/quantia_logo_tiny.png) 2020 Quantia Consulting, srl. All rights reserved.